<hr class="p-0">
<div class="p-0 text-center">Layout Responsivo</div>
<hr class="p-0">
<div class="pai grid-12">
  <div class="filho-1 grid-3">FILHO 1</div>
  <div class="filho-2 grid-3">FILHO 2</div>
  <div class="filho-3 grid-3">FILHO 3</div>
  <div class="filho-4 grid-3">FILHO 4</div>
  <div class="filho-5 grid-3">FILHO 5</div>
  <div class="filho-6 grid-3">FILHO 6</div>
  <div class="filho-7 grid-3">FILHO 7</div>
  <div class="filho-8 grid-3">FILHO 8</div>
  <div class="filho-9 grid-3">FILHO 9</div>
</div>
<hr class="grid-12">
